html {
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.logo-alura {
    margin-top: 2rem;
}

main {
    width: auto;
    display: flex;
    margin: 10px 10% 10px 10%;
}

.area-texto {
    display: block;
    width: 65%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
}

textarea {
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    border-style: none;
    color: #0A3871;
    outline: none;
    background-color: #E5E5E5;
    resize: none;
}

textarea::placeholder {
  color: #0A3871;
}

.boton-encriptar {
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    color: white;
    font-weight: 1rem;
    font-weight: bold;
    transition: 0.5s all;
}

.boton-encriptar:hover {
    transform: scale(1.05);
}

.boton-desencriptar {
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    color: #0A3871;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    transition: 0.5s all;
}

.boton-desencriptar:hover {
    transform: scale(1.05);
}

.boton-copiar {
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 90%;
    height: 67px;
    background: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    color: #0A3871;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    transition: 0.5s all;
    margin: 70% 0 0 0;
}

.boton-copiar:hover {
    transform: scale(1.05);
}

.texto-transformado {
    width: 15%;
    background-color: white;
    padding: 10rem 1rem 0 1rem;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    text-align:center;
}

.texto-transformado img {
    width: 100%;
    margin-bottom: 2rem;
    align-content:center;
}

@media screen and (max-width:480px) {
    
}